
html{
    background:url(images/DarkBubble.png);
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

html, body{
    margin: 0;
    width: 100%;
}
/*Outlook of the form */ 
input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  resize: vertical;
}

/*The look of the submit button*/
input[type=submit] {
  background-color: #1f7275;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

textarea{
    height: 100px;
}
.all{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.container {
  border-radius: 5px;
  background-color: #f1f1f0;
  padding: 20px;
}
.footer{
    height: auto;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    padding-top: 40px;
    background:  rgb(0, 0, 0);
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
}
.footer-menu ul{
    display: flex;
}
.footer-menu ul li{
    padding-right: 10px;
    display: block;
}
    
.footer-menu ul li a{
    color: #cfd2d6;
    text-decoration: none;
}

h3{
    color: white;
    font-size: 25px;
}
@media screen and (min-width: 780px){
    .navbar{
        margin: auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(0, 0, 0,.6);
    }

    .navbar ul li{
        list-style: none;
        display: inline-block;
        position: relative;
        margin: 0 30px;
        padding: 20px;
        text-transform: uppercase;
        font-size: 150%;
    }

    .navbar ul li a{
        text-decoration: none;
        color: white;
        font-size: 150%;
    }
    .navbar ul li a:hover{
        color: rgb(45, 215, 237);
        text-decoration: underline;
    }
    .check{
      visibility: hidden;
    }
}

@media screen and (max-width: 780px) {
  html{
      font-size: 18px;
  }
  body{
      background-size: auto;
      font-size: 1.2em;
  }
  .lists{
      width: 100%;
  }

  .navbar .menu{
      position: absolute;
      right: -100px;
      top: -100px;
      /*z-index set the stacking order. Since all other div has a default of 0, z-index of 100 would set the menu above all else*/
      z-index: 100;
      width: 200px;
      height: 200px;
      background: #FFF;
      border-radius: 50% 50% 50% 50%;
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      /*box shadow is used to remove the box shadow*/
      box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
      cursor: pointer;
  }

  .navbar .hamburger{
      position: absolute;
      top: 145px;
      right: 115px;
      width: 30px;
      height: 2px;
      background: #69D2e7;
      display: block;
      -webkit-transform-origin: center;
      transform-origin: center;
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
  }

  .navbar .hamburger:after, .navbar .hamburger:before {
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: #69d2e7;
  }

  .navbar .hamburger:before { top: -10px; }

  .navbar .hamburger:after { bottom: -10px; }

  .navbar input {display: none;}
  
  .navbar input:checked + .menu {
      box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
      border-radius: 0;
  }

  .navbar input:checked + .menu .hamburger {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
  }

  .navbar input:checked + .menu .hamburger:before {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      top: 0;
  }

  .navbar input:checked + .menu .hamburger:after {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      bottom: 0;
  }
  .navbar input:checked + .menu + ul{opacity: 1;}

  .navbar ul {
      z-index: 200;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      opacity: 0;
      -webkit-transition: .25s 0s ease-in-out;
      transition: .25s 0s ease-in-out;
      list-style: none;
  }
  
  label a {
      margin-bottom: 1em;
      display: block;
      color: orange ;
      text-decoration: none;
  }
  .navbar ul li a:hover{
      text-decoration: underline;
      color: #69d2e7;
  }


}